<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>|SALOONA||RAGISTRETION</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light flexed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><span class="text-warning"><b>The</b></span>Style<span class="text-warning"><b>Zone</b></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      </div>
    </div>
  </nav>



 

  <!-- serrvice -->
  <section id="services" class="service section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectiopn-header text-center pb-5">
            <h2><span class="text-dark"><b>Register on <span class="text-warning"><b>The</b></span>Style<span class="text-warning"><b>Zone</b></span>
            </b></span></h2>
            <p class="text-warning">Where we love to exceed your expectations.</p>
            </p>
            <hr class="bg-dark">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card p-2 ">
            <form method="" action="">            
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Enter name of your business  </label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" name="name_business" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Enter your name</label>
                  <input type="text" name="name" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Enter your mobile number
                    </label>
                    <input type="text" name="mo_number" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Enter your email address
                    </label>
                    <input type="text"  name="email" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Enter city of business</label>
                    <input type="text" type="youebusiness" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="city">Password:</label>
                    <input type="password" name="password" required><br>
                  </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">by registretion you agree <a href="#">THESTYLEZONE</a></label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            </div>
            </div>
            </div>
            </section>

      
            





	



</body>

</html>